body{
    font-family: Arial, Helvetica,;
}
.container{
    background-color: #eee;
    width: 720px;
    margin: 45px auto 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:120px 60px 100px 400px 50px;

    /* jisorder me div hai usi me work karega nahi do disappear ho jayega. */
    /* side wala ko . se disappear kar dakte hai. */

    grid-template-areas:"header header header"
                        "menu menu menu"
                        "box1 box2 sidebar"
                        "content content sidebar"
                        "footer footer footer";
    grid-gap: 15px;
}
.header{
    background: orangered;
    grid-area: header;
}
.menu{
    background: yellowgreen;
    grid-area:menu;
}
.box1{
    background: slateblue;
    grid-area: box1;
}
.box2{
    background: hotpink;
    grid-area: box2;
}
.sidebar{
    background: rgb(0, 64, 255);
    grid-area: sidebar;
}
.content{
    background: #7dcea0;
    grid-area: content;
}
.footer{
    background: goldenrod;
    grid-area: footer;
}
